body, html {
  height: 100%;
  margin: 0;
}

.container {
  background-image: url('./background.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.logo {
    display: inline-block;
    margin-left: 1%;
}
#go_back
{
    display: inline-block;
    background-color: #dd2233;
    padding: 0.5% 1.2%;
    border-radius: 6px;
}
#go_back:hover{
    background-color: #fefefe;
    color: #dd2233;
    transition: background-color 0.6s ease-in-out;
    box-shadow: 1.2px 1px 4px 0.5px black;
    cursor: pointer;
}
a
{
    text-decoration: none;
    color: #fefefe;
}
.middle {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.middle img
{
    height: 450px;
    box-shadow: 2px 1px 14px 0px black;
    border-radius: 10px;
}
#comming_soon
{
    font-size: 25px;
    font-family: "Courier New",Courier, monospace;
}
hr {
  margin: auto;
  width: 40%;
}
